<body>
  <header class="header">
    <div class="header-container">
      <div class="greetings-container">
        <h1>Welcome to {{title}}</h1>
        <h2>Capture your memories with us</h2>
      </div>
      <a href="contact" class="header-btn">Get in touch!</a>
    </div>
  </header>
</body>
